{% extends 'base.html.twig' %}


{% block title %}Todas as Cestas &#128106;{% endblock %}

{% block body %}

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <br>
    <h2><big>Registro de Cestas &#128583;</big></h2><a class="btn btn-outline-primary float-right"
                                                       href="{{ path('cesta.criar') }}">&#10133; Nova Cesta</a> <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>#</b></td>
            <td><b>Família</b></td>
            <td><b>Descrição da Cesta</b></td>
            <td><b>Data da Cesta</b></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for cesta in cestas %}
            <tr>
                <td>{{ cesta.id }}</td>
                <td>{{ cesta.familia }}</td>
                <td>
                    <a href="{{ path('cesta.exibir', {id: cesta.id}) }}">
                        {{ cesta.descricaocesta }}
                    </a>
                </td>
                <td>{{ cesta.DataCesta|date("d/m/Y") }}</td>
                <td class="float-right">
                    <a class="btn btn-outline-success btn-sm" href="{{ path('cesta.editar', {id: cesta.id}) }}">
                        <b>&#9998;Editar</b></a>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('cesta.remover', {id: cesta.id}) }}">
                        <b>&#128465;Remover</b></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}