{% extends 'base.html.twig' %}


{% block title %}Todas as Famílias &#128106;{% endblock %}

{% block body %}

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <br>
    <h2>Lista de Famílias &#128106;</h2><a class="btn btn-outline-primary float-right"
                                           href="{{ path('familia.criar') }}">&#10133; Nova Família</a> <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>Nome da Família</td>
            <td>Endereço</td>
            <td>Bairro</td>
            <td>Data de Cadastro</td>
            <td>Bio</td>
            <td>Telefone</td>
            <td>Assit.</td>
            <td>Sit. Esp.</td>
            <td>Cad. Único</td>
            <td>Benef. Gov.</td>
            <td>Renda</td>
            <td>Ações</td>
        </tr>
        </thead>
        <tbody>
        {% for familia in familias %}
            <tr>
                <td>{{ familia.id }}</td>
                <td>-
                    <a href="{{ path('familia.exibir', {id: familia.id}) }}">
                        {{ familia.nomefamilia }}
                    </a>
                </td>
                <td>{{ familia.endereco }}</td>
                <td>{{ familia.bairro }}</td>
                <td>{{ familia.datacadastro|date("d/m/Y") }}</td>
                <td>{{ familia.biografia }}</td>
                <td>{{ familia.telefone }}</td>
                <td>{{ familia.assistenciasocial }}</td>
                <td>{{ familia.situacaoespecial }}</td>
                <td>{{ familia.cadastrounico }}</td>
                <td>{{ familia.beneficiogoverno }}</td>
                <td>{{ familia.rendafamiliar }}</td>
                <td>
                    <a class="text-danger" href="{{ path('familia.remover', {id: familia.id}) }}">
                        Remover</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}