{% extends 'base.html.twig' %}


{% block title %}Registro de Visitas &#128583;{% endblock %}

{% block body %}

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <br>
    <h2><big>Registro de Visitas &#128583;</big></h2><a class="btn btn-outline-primary float-right"
                                                        href="{{ path('visita.criar') }}">&#10133; Nova Visita</a> <br>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>#</b></td>
            <td><b>Família</b></td>
            <td><b>Descrição da Visita</b></td>
            <td><b>Data da Visita</b></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {%  for visita in visitas %}
            <tr>
                <td>{{ visita.id }}</td>
                <td>{{ visita.familia }}</td>
                <td>
                    <a href="{{ path('visita.exibir', {id: visita.id}) }}">
                        {{ visita.descricao }}
                    </a>
                </td>
                <td>{{ visita.DataVisita|date("d/m/Y") }}</td>
                <td class="float-right">
                    <a class="btn btn-outline-success btn-sm" href="{{ path('visita.editar', {id: visita.id}) }}">
                        <b>&#9998;Editar</b></a>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('visita.remover', {id: visita.id}) }}">
                        <b>&#128465;Remover</b></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}