{% extends 'base.html.twig' %}


{% block title %}✅ Lista de Visitas ✅{% endblock %}

{% block body %}

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <br>
    <h2>✅ Lista de Visitas ✅</h2>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Descrição</td>
            <td>Data Visita</td>
            <td>IdFamília</td>
            <td>Ações</td>
        </tr>
        </thead>
        <tbody>
        {%  for visita in visitas %}
            <tr>
                <td>{{ visita.id }}</td>
                <td>-
                    <a href="{{ path('visita.exibir', {id: visita.id}) }}">
                        {{ visita.descricao }}
                    </a>
                </td>
                <td>{{ visita.DataVisita|date("d/m/Y") }}</td>
                <td>{{ visita.idFamilia }}</td>
                <td>
                    <a class="text-danger" href="{{ path('visita.remover', {id: visita.id}) }}">
                        Remover</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}